/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1.4em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* ================================================ comon======================================================== */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    /* overflow-y: overlay; */
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    height: 100%;
    color: var(--black-light);
    letter-spacing: 0.00938em;
    background-color: var(--black1);
    text-align: left;
    background-color: #fff
}

hr {
    border-top-width: 1px;
    color: inherit;
    height: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    /* color: var(--black); */
    margin-block: 0;
}

h1 {
    font-size: 2.2rem;
    line-height: 1.5;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h3,
h4,
h5,
h6 {
    font-size: 1.6rem;
}


a {
    cursor: pointer;
    text-decoration: none;
    color: var(--black-light);
}

/* a:hover {
    color: var(--green);
    text-decoration: underline;
} */

menu,
ol,
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

input,
select,
textarea,
button {
    outline: none;
}

:root {
    --white: #fff;
    --black: #000;
    --black-light: #2c3e50;
    /* --black1: #0C0D14;
    --black2: #1A1B28; */
    --gray: #AAADBE;
    --green: #117964;
    --purple: #A48EFF;
    --purple2: #6842FF;
    --yellow: #FFEA00;
    --padding: 16px;
    /* --padding-larger: ;
    --padding-small: ; */
    --border: 16px;
    --border-larger: 30px;
    --border-small: 12px;
}

.text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.text-overflow {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    -webkit-line-clamp: 2;
}

.text-overflow3 {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    -webkit-line-clamp: 3;
}

.container {
    max-width: 1142px;
    padding: 0 16px;
    margin: 0 auto;
}

.row {
    width: 100%;
}

.flex-sb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

/* ================================= menu ====================================== */
.header {
    /* padding: 0; */
    transition: padding-top 0.3s, padding-bottom 0.3s;
    font-weight: 700;
    background-color: var(--black-light);
}

.logo {
    padding: 5px 0;
}

.logo img {
    display: block;
    padding: 5px 0;
}

.navbar {
    padding: 0 12px;
}

.nav-item {
    padding: 8px;
    margin: 0 5px;
    color: var(--white);
    text-transform: capitalize;
    cursor: pointer;
    white-space: nowrap;
}

.nav-item:hover {
    background-color: #4e6984;
}

.bg-btn {
    background-color: #4e6984;
}

.nav-child {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-svg {
    width: 16px;
    height: 16px;
    fill: #fff;
    margin-left: 8px;
}

.nav-child-list {
    position: absolute;
    inset: 50px auto auto -5px;
    /* display: flex;
    flex-direction: column; */
    max-height: 300px;
    max-width: 200px;
    padding: 8px 0;
    margin-left: 5px;
    /* color: #212529; */
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
    box-shadow: 0 4px 12px 0 rgba(43, 43, 43, 0.1);
    z-index: 2;
    font-weight: normal;
    display: none;
}

.nav-child-item {
    padding: 8px 16px;
    color: var(--black-light);
    display: block;
}

.nav-child-item:hover {
    background-color: #cddbe8;
    color: var(--green);
    text-decoration: underline;
}

/* search */
.search {
    padding-left: 13px;
    position: relative;
    min-width: 220px;
}

.search-term {
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-search {
    position: absolute;
    right: 0;
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
    padding: 6px 12px;
    margin-left: -1px;
    font-size: 1rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-search svg {
    width: 16px;
    height: 16px;
    fill: var(--white);

}

/* ========== mobile ====== */
.menu-icon {
    padding: 4px 6px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, .1);
    background: transparent;
    cursor: pointer;
    display: none;
}

.menu-icon svg {
    display: block;
    width: 30px;
    height: 30px;
    fill: #969fa8;
}

.nav-collapses {
    display: none;
    width: 272px;
    padding: 16px;
    padding-bottom: 40px;
    background-color: var(--black-light);
    position: absolute;
    z-index: 9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-collapses-list {
    padding-top: 16px;
}

.nav-collapses .search {
    display: block;
    padding-left: 0;
}

.nav-collapses .btn-search {
    right: unset;
}

.nav-collapses .nav-item {
    margin: 0;
}

.nav-collapses .nav-child-list {
    inset: 41px auto auto -5px;
}

.nav-collapses .nav-child-item {
    padding: 0 16px;
}

/* =============== category =============== */
.category {
    box-shadow: 0 4px 12px 0 rgba(43, 43, 43, 0.1);
    padding: 12px 0;
}

.category-wrap {
    display: flex;
    align-items: center;
    /* position: relative; */
}

.category-list {
    display: flex;
    overflow: hidden;
}

.category-item {
    padding: 8px 16px;
    /* min-width: 55px;
    max-width: 150px;
    margin: 8px; */
    white-space: nowrap;
    text-decoration: none;
    border-radius: 16px;
    border: 1px solid #ccc;
    color: var(--black-light);
    text-align: center;
    text-transform: capitalize;

    /* padding: 8px; */
    width: 100%;
    display: block;
}

.category-item:hover {
    background-color: #899fb5;
    color: #fff;
    border: 1px solid #899fb5;
}

.category-btn {
    padding: 6px 16px;
    text-decoration: none;
    border-radius: 16px;
    border: 1px solid #ccc;
    margin: 0;
    color: var(--black-light);
    display: flex;
    align-items: center;
    position: relative;
}

.category-btn::after {
    content: attr(count);
    display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background: #4cb9fb;
    color: #f2f2f2;
    border-radius: 50%;
    font-size: 1.4rem;
    line-height: 14px;
    margin-left: 1rem;
    margin-right: calc(-1rem + -16px);

}

.btn-focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

/* ====== category-more ===== */
.category-more {
    position: relative;
}

.category-more-wrap {
    position: absolute;
    background: #fff;
    right: 0;
    top: 30px;
    z-index: 1;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    padding-left: 0;
    box-shadow: 0 4px 12px 0 rgba(43, 43, 43, 0.1);
    display: flex;
    flex-direction: column;
    display: none;
}

.show-cate {
    display: flex;
}

.category-more-item {
    padding: 16px;
    min-width: 220px;
    text-transform: capitalize;
}

.category-more-item:hover {
    background-color: #eee;
    text-decoration: underline;
    color: var(--green);
}

.overflow .category-item {
    border: unset;
    text-align: left;
    border-radius: unset;
    padding: 12px 16px;
}

.overflow .category-item:hover {
    background-color: #eee;
    text-decoration: underline;
    color: var(--green);
}

/* ================ test ============ */
.menu {
    position: relative;
    max-width: 1142px;
    padding: 0 16px;
    margin: 0 auto;

}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline-block;
    /* max-width: 200px; */
    /* width: 100px; */
    width: 108px;
    text-align: center;
}

.overflow {
    position: absolute;
    top: 50px;
    right: 16px;
    display: none;
    z-index: 1;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    padding-left: 0;
    box-shadow: 0 4px 12px 0 rgba(43, 43, 43, 0.1);
    flex-direction: column;
    width: 220px;
}

.overflow li {
    display: block;
    max-width: 100%;
}

.overflow .category-item {
    border: unset;
    text-align: left;
    border-radius: unset;
    padding: 12px 16px;
}

.overflow .category-item:hover {
    background-color: #eee;
    text-decoration: underline;
    color: var(--green);
}

#more {
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 16px;
    border: 1px solid #ccc;
    margin: 0;
    color: var(--black-light);
    display: flex;
    align-items: center;
    position: relative;
    background: #efefef;


    /* background: blue;
    color: white; */
    display: none;
    float: right;
}

/* ================================ main ==================================== */
.main {
    margin: 30px 0;
}

.games {}

.games-title {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 2rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
}

.games-title-svg {
    width: 18px;
    height: 18px;
    fill: var(--black-light);
    margin-right: 8px;
}

.svg-larger {
    width: 25px;
    height: 25px;
}

.games-list {}

.item {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.item-link {
    max-width: 190px;
    padding-right: 10px;
    padding-left: 10px;
}

.item-link:hover .title {
    text-decoration: underline;
}

.item-show {
    margin-bottom: 20px;
    box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.25);
    border-radius: 5px;
    padding: 5px;
}

.item-show-img {
    display: block;
}

.star-rating img {
    margin: 0 1px;
}

.item-show-infor {
    text-align: center;
    padding: 5px;
}

.title {
    color: #434343;
}

/* ========== home2 ====== */
.infor-page-desc {
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: 15px;
}

.infor-page {
    width: 100%;
}

.infor-page-title {
    text-transform: capitalize;
}

/* 
.total-page {
    font-size: 1.4rem;
} */


/* ================================== pagination ===================================== */
.pagination {
    text-align: center;
}

.pagination .btn {
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #dee2e6;
    padding: 8px;
    background: var(--white);
    width: 44px;
    height: 44px;
    margin: 0 5px;
    font-weight: 700;
}

.pagination .btn:hover {
    background-color: #899fb5;
    color: #fff;
    border: 1px solid #899fb5;
    cursor: pointer;
}

.pagination .active {
    font-weight: 700;
    border-radius: 4px;
    padding: 8px;
    width: 44px;
    height: 44px;
    margin: 0 5px;
    background-color: #899fb5;
    color: #fff;
    border: 1px solid #899fb5;
}

/* ========================== game-play ======================== */
.game-play {
    margin: 30px 0;
}

.game-play-wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.navplay {
    padding-left: 30px;
}

.container-play {
    /* max-width: 285px; */
    width: 255px;
    margin: 0 auto;
}

.navplay-list {
    padding-bottom: 20px;
}

.navplay-title {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 1.6rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.navplay-title-svg {
    width: 15px;
    height: 15px;
    fill: var(--black-light);
    margin-right: 8px;
}

.navplay-title-svg-larger {
    width: 20px;
    height: 20px;
}

.navplay-item {
    display: flex;
    flex-wrap: wrap;
}

.navplay-item-link {
    max-width: 85px;
    padding-right: 3px;
    padding-left: 3px;
}

.navplay-item-show {
    margin-bottom: 8px;
    box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.25);
    border-radius: 5px;
    padding: 5px;
}

.navplay-item-show img {
    display: block;
}

.navplay-item-show-title {
    text-align: center;
    padding: 5px 0 2px;
    font-size: 1.3rem;
}

.play-content {
    padding-top: 20px;
}

.comment-company {
    padding: 10px;
    border: 1px solid #dcdfe3;
    margin-top: 30px;
}

/* ================================== header-game - game-full-rate ===================================== */
/* game-full-rate */
#append-rate {
    padding-bottom: 16px;
}

.rating img {
    width: 20px;
    height: 20px;
}

.font-rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.4rem;
    line-height: 0.5;
}

.iframe-default {
    display: block;
}

.margin-left {
    margin-left: -10px;
}

/* end */

.header-game {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--black-light);
    /* min-height: 62px; */
    height: auto;
    overflow: hidden;
    color: var(--white);
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 10px;
    /* border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; */
}

.box-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.box-header h1 {
    font-size: 2rem;
    white-space: nowrap;
    text-transform: uppercase;
}

.header-game-extend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header-game-extend>span {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 44px;
    min-height: 44px;
    margin-left: 5px;
    cursor: pointer;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* border-radius: 50%; */
    -webkit-transition: cubic-bezier(.32, 1.2, .54, 1.17);
    -o-transition: cubic-bezier(.32, 1.2, .54, 1.17);
    transition: cubic-bezier(.32, 1.2, .54, 1.17)
}

.expand {
    margin-right: -5px;
}

.hidden {
    display: none;
}

.header-game-extend>span>svg {
    width: 20px;
    height: 20px;
    fill: var(--white);
}

.header-game-extend>span:hover {
    /* background-color: var(--gray); */
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.share-btn:hover>svg,
.comment-btn:hover>svg,
.theatemode:hover>svg,
.expand-btn:hover>svg {
    fill: #1abc9c;
}

.exit-fullscreen {
    width: 36px;
    height: 36px;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 100000;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.clipboard-share {
    position: fixed;
    z-index: 100;
    background-color: var(--white);
    padding: 16px;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 300px;
    min-height: 45px;
}

.hide-zindex {
    z-index: -20;
    visibility: hidden;
}

.close-sharing-box {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
}

.inline-sharing-box h3 {
    margin-bottom: 10px;
    color: var(--black-light);
}

/* fullscreen.php */
#expand {
    cursor: pointer !important;
}

.force_full_screen {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
    top: 0px !important;
    border: 0px !important;
    left: 0px !important;
    right: 0px !important;
    cursor: pointer !important;
}

@media (max-width: 576px) {
    .header-game {
        max-height: unset;
    }
}

/* game-play-views */
.game-play-views {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.view {
    padding-left: 6px;
    font-size: 1.5rem;
    line-height: 1.1;
}

.emojis {
    color: var(--white);
    cursor: pointer;
}

.total {
    padding: 0 10px 0 0;
}

.count {
    font-weight: 600;
}

.total-like {
    padding-left: 16px;
}

.total-like:hover .count {
    color: #1abc9c;
}

.emojis-img {
    width: 33px;
    height: 33px;
    margin-bottom: 5px;
    fill: var(--white);
}

.total-like:hover .emojis-img {
    fill: #1abc9c;
}

.emojis .count {
    line-height: 1.1;
    font-size: 1.4rem;
    font-weight: 600;
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
}


/* ========================== game__content ======================== */
.infor-web {
    padding-top: 30px;
}

.game__content {
    color: var(--black-light);
    font-size: 1.6rem;
    line-height: 1.2;
    font-family: sans-serif;
}

.game__content ul {
    padding-left: 40px;
}

.game__content li {
    padding-top: 5px;
    list-style-type: circle;
}

.game__content a {
    font-weight: 600;
    color: var(--black-light);
}

.game__content a:hover {
    color: var(--green);
    text-decoration: underline;
}

.game__content a:hover {
    color: var(--green);
}

.game__content h1,
.game__content h2,
.game__content h3,
.game__content h4 {
    padding-top: 10px;
    padding-bottom: 2px;
    text-transform: capitalize;
}

/* ====================================== tag =========================================== */
.tag {
    margin-bottom: 15px;
}


.tag .tag_item {
    margin: 4px 0;
    margin-right: 10px;
    list-style: none;
}

.tag .tag_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 15px;
    background: #eee;
    color: var(--black-light);
    /* border: 1px solid #899fb5; */
    text-transform: lowercase;
    outline: none;
}

.tag .tag_btn:hover {
    text-decoration: underline;
    color: var(--green);
}

.tag .icon_tag {
    padding-right: 4px;
    display: inherit;
}

.tag>ul {
    padding-left: 0;
    flex-wrap: wrap;
}


/* ================================== breadcrumb ===================================== */
.breadcrumb {
    padding-left: 0 !important;
    display: flex;
}

.breadcrumb li {
    display: inline;
    font-size: 1.4rem;
    text-transform: capitalize;
    line-height: 1.5;
}

.breadcrumb li+li:before {
    margin: 0 5px;
    color: #8e8e8e;
    content: "/";
}

.breadcrumb li a {
    text-decoration: none;
    color: var(--green);
}

.breadcrumb li span {
    color: var(--black-light);
}

.breadcrumb svg {
    fill: var(--green);
    width: 2rem;
    height: 1.6rem;
    display: block;
}

.breadcrumb_name:hover svg {
    fill: #1abc9c;
}

.breadcrumb li a:hover {
    color: #1abc9c;
}

/* ================================== error.php ===================================== */
.not_found {
    margin: 40px 0;
    padding: 0 5px;
}

.not_found span {
    font-size: 1.8rem;
    font-weight: 500;
}

.not_found p {
    font-size: 2rem;
    font-weight: 400;
}

.not_found li {
    list-style-type: square;
    margin-top: 8px;
    margin-left: 30px;
}

.not_found em {
    font-weight: 700;
}

/* ============================================ footer ============================================ */
footer {
    font-size: 1.4rem;
    padding: 24px 0;
    -webkit-box-shadow: 0px -1px 0px var(--black2);
    box-shadow: 0px -1px 0px var(--black2);
    background-color: #1a252f;
}

footer .flex-center {
    padding: 0 var(--padding15);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.infor {
    text-align: center;
}

.infor a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, .8);
}

.infor a {
    color: var(--white);
}

.infor a::after {
    content: "|";
    margin: 0 5px;
    color: var(--yellow);
}

.infor a:last-child::after {
    content: "";
}


/* =========== loading_mask ============ */
.hidden-load {
    display: none;
}

.loading_mask {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading_mask>img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.action .loading_mask>img {
    left: 50%;
}

/* ========== back-to-top =========== */
#back-to-top {
    color: #000;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 16px;
    bottom: 40px;
    font-family: Nunito;
    font-size: 2.5rem;
    font-weight: 800;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
    -webkit-transition: all .3s cubic-bezier(.25, .8, .25, 1);
    -o-transition: all .3s cubic-bezier(.25, .8, .25, 1);
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    border-radius: var(--border-larger);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: var(--purple2);
    color: rgb(249, 250, 255);
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 40px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 40px;
}

#back-to-top:hover {
    opacity: .9;
}

/* ============================================ responsive ============================================ */
@media (max-width: 1141px) {
    .container-play {
        width: 170px;
    }

    .main .container {
        max-width: 952px;
    }
}

@media (max-width: 1024px) {
    .container-play {
        /* width: 170px; */
    }
}

@media (max-width: 992px) {
    #back-to-top {
        visibility: hidden;
    }

    .navbar {
        display: none;
    }

    .search {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .game-play-wrap {
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .navplay {
        padding: 10px 0;
        margin: 0 auto;
    }

    .navplay-list {
        padding-bottom: 0;
        padding-top: 20px;
    }

    .container-play {
        max-width: 935px;
        width: 100%;
    }
}

@media (max-width: 844px) {
    .main .container {
        max-width: 762px;
    }

    .container-play {
        max-width: 765px;
    }

    .item {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .container-play {
        max-width: 680px;
    }
}

@media (max-width: 500px) {
    .game-full-rate {
        width: 100%;
        padding-top: 6px;
        display: flex;
        justify-content: center;
    }

    .header-game-extend {
        order: -1;
        width: 100%;
        justify-content: space-between;
    }

    .container-play {
        max-width: 340px;
    }
}

@media (max-width: 370px) {
    .navplay-item {
        justify-content: center;
    }
}